<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-setbadge-plugin" version="1.0"
	xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android">
	<name>CDVSetBadge</name>
	<js-module name="cordova-setbadge-plugin" src="www/CDVSetBadge.js">
		<clobbers target="cordova.plugins.SetBadge" />
	</js-module>
	<platform name="ios">
		<config-file parent="/*" target="config.xml">
			<feature name="CDVSetBadge">
				<param name="ios-package" value="CDVSetBadge" />
			</feature>
		</config-file>
		<source-file src="src/ios/AppDelegate+BadgeUpdate.m" />
		<source-file src="src/ios/AppDelegate+BadgeUpdate.h" />
	</platform>
	<platform name="android">
		<config-file target="AndroidManifest.xml" parent="/manifest/application">
	      <receiver android:name="com.outsystems.setbadge.plugin.BadgeNotificationReceiver" android:exported="true">
		    <intent-filter>
		        <action android:name="UPDATE_BADGE" />
		    </intent-filter>
		  </receiver>
	    </config-file>
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="CDVSetBadge">
				<param name="android-package" value="outsystems.setbadge.plugin.BadgeNotificationReceiver" />
			</feature>
		</config-file>
		<config-file parent="/*" target="AndroidManifest.xml"></config-file>
		<source-file src="src/android/BadgeNotificationReceiver.java" target-dir="src/com/outsystems/setbadge/plugin" />
	</platform>
</plugin>